<h1>About Us</h1>
<p>
  I'm Nick Lau, a NCG from UCSD who is trying to learn some Ruby on Rails.
  You can find the source code at <a href="https://github.com/SevenEightNineA/upload_app">github</a>.
  A lot of the code (particularily the css and layout) is reused from the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  by Michael Hartl which is a fantastic resource.
  This app utilizes the technologies:
</p>


<p>
  <ul>
    <li>Devise for user, session, and password management.</li>
    <li>Cloudinary (and carrierwave), for photo upload, editing, and storage.</li>
    <li>Rspec for automated testing.</li>
    <li>Heroku for hosting online as well as the New Relic addon to stop the dyno from idling.</li>
  </ul>
</p>
