<h1>About Me</h1>
<div class="row">

<%= image_tag("headshot.ico", alt: "headshot") %>

<p>
  Being a computer science major, I've always wanted a website and since I've been wanting to learn Rails... two birds with one stone! You can find the source code at <a href="https://github.com/SevenEightNineA/blog_app">github</a>.
</p>

<p>
  I'm Nick Lau, a NCG from UCSD where I received a Bachelors of Science in Computer Science. My hobbies include videogames, sports, reading, watching tv, and picking up random scraps of knowledge (particularily about programming).
</p>
<p>
  Currently my favorite videogame is League of Legends <a href="http://www.lolking.net/summoner/na/23181835">(Licknau)</a> where I've made it up to 79 LP in Plat 1 (putting me in the top 1-2% of the playerbase). Followed by Tetris where I actually hit the God of Tetris Rank (on Facebook's tetris battle). I've always loved videogames, particularily computer games (WoW, Counterstrike, Age of Empires) and Nintendo (Super Smash Bros, Final Fantasy, DS games).
</p>
<p>
  I adore sports, I've played hockey for about 15 years, traveling to tournaments as far as AAU junior olympics in Philadelphia, coaching my high school's JV team, and playing for the club team at UCSD. Pingpong was the way my friends and I passed the time in high school (we had a table in our garage). The insanely cheap $4/hr billiards hall at UCSD gameroom actually probably came to cost me a couple hundred dollars... Played intramural tennis and loved hitting around with friends during highschool and throughout college. Oh, and I ran track and crosscountry for my highschool team, managing a 5 minute mile! I mostly just lift weighs now, going to the local YMCA.
</p>
<p>
  Although my reading suffered considerably when I discovered videogames, I have read hundreds and hundreds of books. I'm a huge scifi and fantasy nerd, my favorites being Isaac Asimov (particularily the Foundation Trilogy) and the Lord of the Rings trilogy. Oh, and I wouldn't have a childhood without Harry Potter, waiting for that 7th book was pure torture. To be continued...
</p>

<p>
  Programming has very much become a hobby to me. I am an avid reader of Quora, reading it everyday and often using it for a bedtime story. The enthusiasm and intelligence of the answers has given me engineers to look up to and aspire to as I begin my career. Quora answers often link to other resources, through which I have discovered incredible answers on stackoverflow, random life changing advice on speed reading and meditation, what languages I should learn next (<a href="http://www.quora.com/Computer-Programming/How-can-I-quickly-improve-my-programming-skills">"scripting language (e.g. Python) that you can use as your Swiss army knife for quick tasks</a>"). It's also introduced me to anki, a (perhaps even "the") flashcard app, that helps me remember everything I learn so that I can internalize it.
</p>
<p>
  In the last couple months, I've learned and extended my knowledge of several technologies: git, sublime text (using lints, bracket addons, and its incredibly flexible settings), command line interface, basic scripting with bash and python, UML (Unified Modeling Language), Ruby on Rails (using with RSpec, Capybara, New Relic, Heroku, PostgreSQL, and much much more), Ruby (through codewars.com and codeacademy), Object Orientated Programming and software development (through Code Complete 2, stack overflow, and simply looking up every possible question I could think of), C++ (<a href="https://code.google.com/p/google-styleguide/">google's opensourced codelabs - style guide</a>), DNS (through struggles with gandi.net). Furthermore, I've been reading blogs such as <a href="http://www.joelonsoftware.com/"> www.joelonsoftware.com </a> and <a href=">http://steve-yegge.blogspot.com/">steve-yegge.blogspot.com<a> which have helped me understand the software industry better (which is important since I was fairly clueless before).
</p>

<p>
  This blog webapp utilizes the technologies: <br>  
  -Ruby on Rails obviously!<br>
  -Devise for user, session, and password management.<br>
  -Bootstrap to make things look pretty since I'm no css wizard. <br>
  -Rspec and Capybara for quick automated testing.<br>
  -Heroku for hosting online as well as the New Relic addon to stop the dyno from idling.<br>
</p>

<p>
  Obligatory shoutouts to: <br>
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> by Michael Hartl which is a fantastic resource and where I've learned practically everything I know about Rails (and some extra). I definitely owe him a <%= link_to "beer", beerware_path %>. <br>
  <a href="http://railscasts.com/">Railscasts</a> by Ryan Bates for brutally thorough screencasts on anything and everything you would want to know about Rails.
</p>

</div>