<h1>About Me</h1>
<div class="row">
<p>
  Being a computer science major, I've always wanted a website and since I've been wanting to learn Rails... two birds with one stone! You can find the source code at <a href="https://github.com/SevenEightNineA/blog_app">github</a>.
</p>

<p>
  I'm Nick Lau, a NCG from UCSD where I received a Bachelors of Science in Computer Science. My hobbies include videogames, sports, reading, watching tv, and picking up random scraps of knowledge (particularily about programming).
</p>
<p>
  Currently my favorite videogame is League of Legends <a href="http://www.lolking.net/summoner/na/23181835">(Licknau)</a> where I've made it up to 79 LP in Plat 1. Followed by Tetris where I actually hit the God of Tetris Rank (on Facebook's tetris battle). I've always loved videogames, particularily computer games (WoW, Counterstrike, Age of Empires) and Nintendo (Super Smash Bros, Final Fantasy, DS games).
</p>
<p>
  I adore sports, I've played hockey for about 15 years, traveling to tournaments as far as AAU junior olympics in Philadelphia, coaching my high school's JV team, and playing for the club team at UCSD. Pingpong was the way my friends and I passed the time in high school (we had a table in our garage). The insanely cheap $4/hr billiards hall at UCSD gameroom actually probably came to cost me a couple hundred dollars... Played intramural tennis and loved hitting around with friends during highschool and throughout college. Oh, and I ran track and crosscountry for my highschool team, managing a 5 minute mile! I mostly just lift weighs now, going to the local YMCA.
</p>
<p>
  Although my reading suffered considerably when I discovered videogames, I have read hundreds and hundreds of books. I'm a huge scifi and fantasy nerd, my favorites being Isaac Asimov (particularily the Foundation Trilogy) and the Lord of the Rings trilogy. Oh, and I wouldn't have a childhood without Harry Potter, waiting for that 7th book was pure torture. To be continued...
</p>

<p>
  This blog webapp utilizes the technologies: <br>  
  -Ruby on Rails obviously!<br>
  -Devise for user, session, and password management.<br>
  -Bootstrap to make things look pretty since I'm no css wizard. <br>
  -Rspec and Capybara for quick automated testing.<br>
  -Heroku for hosting online as well as the New Relic addon to stop the dyno from idling.<br>
</p>

<p>
  Obligatory shoutouts to: <br>
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> by Michael Hartl which is a fantastic resource and where I've learned practically everything I know about Rails (and some extra). I definitely owe him a <%= link_to "beer", beerware_path %>. <br>
  <a href="http://railscasts.com/">Railscasts</a> by Ryan Bates for brutally thorough screencasts on anything and everything you would want to know about Rails.
</p>

</div>