<div class="row">
  <div class="span8">
    <h2>Under construction (making prettier)</h2>
     <%= render 'shared/feed' %>
  </div>
  <aside class="aside pull-right">
    <section>
      <h2> Recent Posts </h2>
      <%= render 'shared/recent_feed' %>
    </section>
    <section>
      <%= render 'shared/projects' %>
    </section>
  </aside>
</div>