<div class="row">
  <div class="span9">
    <h3>Blog Feed - Site under construction</h3>
     a
  </div>
  <aside class="span3">
    <section>
      Recent Posts
    </section>
    <section>
      Fun:
      <p>
        <a href = "http://blog.nicksdevspot.com"> blog.nicksdevspot </a> <br>
        <a href = "https://github.com/SevenEightNineA/blog_app"> source at github </a> 
      </p> 
      <p>
        <a href = "http://upload-app.nicksdevspot.com"> upload-app.nicksdevspot </a> <br>
        <a href = "https://github.com/SevenEightNineA/upload_app"> source at github </a> 
      </p> 
      <p>
        <a href = "http://sample-app.nicksdevspot.com"> sample-app.nicksdevspot </a> <br>
        <a href = "https://github.com/SevenEightNineA/sample_app"> source at github </a> 
      </p>
    </section>
  </aside>
</div>