<h2> Projects/Links </h2>
<p>
  <a href="https://www.linkedin.com/in/nlau1/">Linkedin profile </a><br>
  <a href="http://www.collegefeed.com/profile/nicholas.m.lau.22888">Collegefeed profile </a>
</p>
<p>
  <a href = "https://github.com/SevenEightNineA/CardGame"> github for CardGame </a>
</p>
<p>
  <a href = "http://blog.nicksdevspot.com"> blog.nicksdevspot </a> <br>
  -source at <a href = "https://github.com/SevenEightNineA/blog_app">github </a> 
</p> 
<p>
  <a href = "http://upload-app.nicksdevspot.com"> upload-app.nicksdevspot </a> <br>
  -source at <a href = "https://github.com/SevenEightNineA/upload_app">github </a> 
</p> 
<p>
  <a href = "http://sample-app.nicksdevspot.com"> sample-app.nicksdevspot </a> <br>
  -source at <a href = "https://github.com/SevenEightNineA/sample_app">github </a> 
</p>
